/* color palette */
:root {
  --binlamps-white: #ffffff;
  --binlamps-white-soft: #f8f8f8;
  --binlamps-white-mute: #f2f2f2;

  --binlamps-black: #181818;
  --binlamps-black-soft: #222222;
  --binlamps-black-mute: #282828;

  --binlamps-indigo: #2c3e50;

  --binlamps-green: #318e08;
  --binlamps-green-soft: #4aa621;
  --binlamps-green-mute: #609a46;

  --binlamps-divider-light-1: rgba(60, 60, 60, 0.29);
  --binlamps-divider-light-2: rgba(60, 60, 60, 0.12);
  --binlamps-divider-dark-1: rgba(84, 84, 84, 0.65);
  --binlamps-divider-dark-2: rgba(84, 84, 84, 0.48);

  --binlamps-text-light-1: var(--binlamps-indigo);
  --binlamps-text-light-2: rgba(60, 60, 60, 0.66);
  --binlamps-text-dark-1: var(--binlamps-white);
  --binlamps-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--binlamps-white);
  --color-background-soft: var(--binlamps-white-soft);
  --color-background-mute: var(--binlamps-white-mute);

  --color-border: var(--binlamps-divider-light-2);
  --color-border-hover: var(--binlamps-divider-light-1);

  --color-heading: var(--binlamps-text-light-1);
  --color-text: var(--binlamps-text-light-1);
  --color-primary: var(--binlamps-green);
  --color-primary-soft: var(--binlamps-green-soft);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--binlamps-black);
    --color-background-soft: var(--binlamps-black-soft);
    --color-background-mute: var(--binlamps-black-mute);

    --color-border: var(--binlamps-divider-dark-2);
    --color-border-hover: var(--binlamps-divider-dark-1);

    --color-heading: var(--binlamps-text-dark-1);
    --color-text: var(--binlamps-text-dark-2);
    --color-primary: var(--binlamps-green-soft);
    --color-primary-soft: var(--binlamps-green-mute);
  }
}

:root.dark {
  --color-background: var(--binlamps-black);
  --color-background-soft: var(--binlamps-black-soft);
  --color-background-mute: var(--binlamps-black-mute);

  --color-border: var(--binlamps-divider-dark-2);
  --color-border-hover: var(--binlamps-divider-dark-1);

  --color-heading: var(--binlamps-text-dark-1);
  --color-text: var(--binlamps-text-dark-2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  cursor: pointer;
}

.button-text {
  border: none;
  background-color: transparent;
}

a:link {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-primary-soft);
  }
  .button:hover {
    border-color: var(--color-border-hover);
    /*background-color: var(--color-background-soft);*/
  }
  .button-text:hover {
    border: none;
    color: var(--color-text);
    background-color: transparent;
  }
}
