@font-face {
  font-family: 'Timebomb';
  src: url(../fonts/TickingTimebombBB_ital.woff2) format('woff2'),
    url(../fonts/TickingTimebombBB_ital.woff) format('woff'),
    url(../fonts/TickingTimebombBB_ital.ttf) format('truetype');
}

:root {
  --color-background: #ffffff;
  --color-background-soft: #f8f8f8;
  --color-background-mute: #fafafa;

  --color-border: rgba(60, 60, 60, 0.12);
  --color-border-hover: rgba(60, 60, 60, 0.29);

  --color-heading: #2c3e50;
  --color-text: #2c3e50;
  --color-text-soft: #8d978e;

  --color-primary: #318e08;
  --color-primary-soft: #4aa621;
  --color-primary-mute: #899d76;

  --color-led-text: #35422c;
  --color-led-text-shadow: #9ba095;
  --color-led-gradient: linear-gradient(
    0deg,
    #a8b59c 0%,
    #c0ccba 50%,
    #a8b59c 90%,
    #9fac95 100%
  );
  --color-led-background: #a8b59c;
  --color-led-outline-1: #ccdabf;
  --color-led-outline-2: #abd298;

  --spacing-max-width: 80rem;

  --shadow-1: 0 0 10px rgba(0, 0, 0, 0.3);

  --font-size: 100%;

  --transition-timing: 0.3s;
}

:root.dark {
  --color-background: #181818;
  --color-background-soft: #222222;
  --color-background-mute: #1f1f1f;

  --color-border: rgba(84, 84, 84, 0.48);
  --color-border-hover: rgba(84, 84, 84, 0.65);

  --color-heading: #bac990;
  --color-text: rgba(235, 235, 235, 0.64);
  --color-text-soft: #8d978e;

  --color-primary: #318e08;
  --color-primary-soft: #899d76;
  --color-primary-mute: #283a28;

  --color-led-text: #282828;
  --color-led-text-shadow: #70875b;
  --color-led-gradient: linear-gradient(
    0deg,
    #5b6b4c 0%,
    #90a386 50%,
    #899d76 90%,
    #6e7a4c 100%
  );
  --color-led-background: #899d76;
  --color-led-outline-1: #899d76;
  --color-led-outline-2: #96c178;

  --shadow-1: 0 0 10px rgba(0, 0, 0, 0.5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color var(--transition-timing), background-color var(--transition-timing);
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: var(--font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  cursor: pointer;
}

.button-text {
  border: none;
  background-color: transparent;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--color-primary);
  transition: var(--transition-timing);
}

@media (hover: hover) {
  a:hover {
    color: var(--color-primary-soft);
  }
  .button:hover {
    border-color: var(--color-border-hover);
  }
  .button-text:hover {
    border: none;
    color: var(--color-text);
    background-color: transparent;
  }
}

.app-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  flex: 1;
  max-width: var(--spacing-max-width);
}

@media screen and (max-width: 48rem) {
  :root {
    --font-size: 87.5%;
  }

  .app-container {
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: space-evenly;
  }
  .app-container > * {
    margin-bottom: 0.5em;
  }
}

@media screen and (max-width: 32rem) {
  :root {
    --font-size: 75%;
  }
  .app-container {
    flex-direction: column;
    padding: 0.25em 0.5em;
  }
}

